@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pokeball {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.target:hover > .pokeball {
  scale: 1.1;
  animation: pokeball 2s linear infinite;
}
.pokeball {
  transition: all 0.2s linear;
}
.scroll-hide {
  overflow-y: scroll;
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #e5e5e5;
}
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #737373;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dcdcdc;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  background-color: #dcdcdc;
}
